{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "Tutorials" %} {% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <link rel="stylesheet" type="text/css" href="{% static 'cartoview_tutorials/css/index.css' %}"/>


{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid root ">
            <h1>Tutorials:</h1>
                <div class="flex-element tutorials-container">
                        {% for t in tutorials %}
                            <div class="flex-element flex-row tutorial-card">
                                <h2 class="wrap-line" title="Title" data-toggle="popover" data-trigger="hover" data-content="{{t.title}}">{{t.title}}</h2>
                                <p class="wrap-line" title="Description" data-toggle="popover" data-trigger="hover" data-content="{{t.description}}">{{t.description}}</p>
                                <ul class="inline-ul">
                                    <li><a href="{{t.file.url}}">Download</a></li>
                                    {% if t.url %}
                                    <li><a href="{{t.url}}" target="_blank">Tutorial Link</a></li>
                                    {% endif %}
                                </ul>
                                <div>
                                    {{t.get_html}}
                                </div>
                            </div>
                            {% empty %}
                            <h3>No Tutorials Available</h3>
                        {% endfor %}
                </div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({placement: "top",});   
    });
</script>
{% endblock %}