.flex-element {
    display: flex;
    flex-wrap: wrap;
}

.tutorials-container {
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

.wrap-line {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tutorial-card {
    width: 40%
}

.tutorial-img {
    height: 240px;
    width: 100%;
}

.tutorial-card-img-container {
    height: 100%;
    width: 100%;
}

.root {
    font-family: 'Roboto Slab', serif;
}
.inline-ul{
    display: inline-flex;
}
.inline-ul li a {
    display: block;
    margin: 5px
}